{% extends "layout.html" %}

{% block title %}
    Welcome!
{% endblock %}

{% block main %}

<header>
</header>

<!-- Main content goes here -->
<div class="container text-center col-xl-10 col-xxl-8 px-4 py-5">
  <h2 class="display-4">Oh no, that page doesn't exist.</h2>
  <div class="text-center">
    <a class="already lead fs-4" href="/">Take me back to the main page.</a>
  </div>
  <img src="../static/img/doogles.webp" class="errorimg img-fluid rounded-5" alt="Picture of doogles">
</div>

{% endblock %}