{% extends "layout.html" %}

{% block title %}
    Welcome!
{% endblock %}

{% block main %}

<header>
</header>

<!-- Main content goes here -->
<div class="container col-xl-8 col-xxl-18 px-5 py-4">
  <h1 class="display-5 fw-bold center-text mb-4">About this site</h1>
  <div class="row">
    <p class="lead">Budget Made Simple is my (Joni Ljungqvist) final project for CS50 2022.
      As such, it has basic functionality and there might be bits here and there where things don't quite work as expected;
      if so, <a href="mailto:joni.ljungqvist@gmail.com">please let me know!</a></p>
      <br>
      <p class="lead">Either way, I'm happy you found your way here. Feel free to click around and try things out. If you want to get in touch, see the links below.</p>
      <div class="col">
        <ul class="list-inline">
          <li class="list-inline-item"><a href="https://github.com/jonilj">GitHub</a></li>
          <li class="list-inline-item"><a href="https://jpl-music.com">Website</a></li>
          <li class="list-inline-item"><a href="mailto:joni.ljungqvist@gmail.com">E-Mail</a></li>
        </ul>
      </div>
  </div>
</div>
{% endblock %}